#app {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 6rem;
  text-align: center;
  font-size: .875rem;
}

.icon svg {
  margin-bottom: .5rem;
  font-size: 2rem;
}